
  td{
      font-size: 16px;
      border: 2px solid black;
      padding: 15px;

  }
 th{

   border: 2px solid black;
   padding: 20px;
   background-color: #8600d7;
 }
  #Tabla{
    border-collapse: collapse;
  }

  #HoraT{
    background-color: rgb(10, 254, 153);

  }

  #hora{
     background-color: #edcf07;
  }
